/.emacs.d/lsp-cache/
/.emacs.d/racket-mode/
/.emacs.d/vendor/
/.emacs.d/elpa/
/.emacs.d/auto-save-list/
/.emacs.d/url/
/.emacs.d/bookmarks
/.emacs.d/tramp
/.emacs.d/.cask
/.emacs.d/.ehist
/.emacs.d/org-roam.db
/*~
/.emacs.d/*~
.DS_Store
/.emacs.d/TAGS
/.emacs.d/.*/
/.emacs.d/.*
/.emacs.d/*.cache
/.emacs.d/recentf
/.emacs.d/init.elc
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/transient/history.el
/.emacs.d/custom.el
/.emacs.d/projects
/.zshrc.local
/projects.yml
/.emacs.d/el-get/
/.emacs.d/kkcrc
/.emacs.d/async-butecomp.log
.emacs.d/network-security.data
/.emacs.d/init.el.backup.*